<html>
<head>
  <link type='text/css' rel='stylesheet' href='/css/styles.css'>
</head>

<body>

<%= @player_1.name %> has attacked <%= @player_2.name %>!

<%= @player_2.name %>'s HP now <%= @player_2.hit_points %>


  <audio id="audioplayer" autobuffer="" loop="true" preload="auto" src="media/battle_tune.mp3" autoplay=true>
    </audio>
    <script src="media/audio.js"></script>

</body>
</html>
