<html>
<head>
  <link type='text/css' rel='stylesheet' href='/css/styles.css'>
</head>

<body>

<%= @player_1_name %> has attacked <%= @player_2_name %>!
 <%= $player_2.attack %>


  <audio id="audioplayer" autobuffer="" loop="true" preload="auto" src="media/battle_tune.mp3" autoplay=true>
    </audio>
    <script src="media/audio.js"></script>

</body>
</html>
